<nav class="navbar navbar-light bg-light">
   <img src="../../assets/logo.png">

   <ul class="nav justify-content-end">
      <li class="nav-item">
         <button type="button" class="btn btn-info" (click)="switchService.salva()">Salva</button>
         
      </li>
      <li class="nav-item">
         <label for="file-upload" class="custom-file-upload btn btn-info">
            Carica
        </label>
        <input id="file-upload" type="file" [(ngModel)]="selectedFile" (change)="selezionaFile($event)"/>
      </li>
    </ul>
</nav>