.navbar{
    background-color: #264D4C !important;
    padding: 0;
}
img{
    margin: 0;
    padding: 0;
    height: 6vh;
}

.btn-info{
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}
input[type="file"] {
    display: none;
  }
  
  .custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }