.box-button{
    width: 33% !important;
    margin: 5px;
}

.black-border{
    border-color: black !important;
}

input[type='radio']{
    margin-left: 15px;
    margin-right: 5px;
}

td{
    width: 50px;
    border: 1px black solid;
    text-align: center;
}
.center{
    text-align: center !important;
}

table{
    margin: auto;
}