<div class="row">
  <div class="col-lg-1" style="padding-left: 0px !important;">
    <div class="btn-group-vertical">
      <div *ngFor="let box of switchService.box">
      
          <input type="checkbox" id="{{box.name}}" (click)="modificaBox(box)">
          <label class="fakeButton" for="{{box.name}}" [ngClass]="{'border':box==switchService.box[switchService.box.length-1],'checked':selectedBox.includes(box)}">{{box.name}}</label>
      </div>
    </div>
  </div>
  <div class="separatore "></div>
  <div class="col-lg-8">
    <div class="contenuto">
      <div *ngFor="let box of switchService.box">
        <div  *ngIf="selectedBox.length==0||selectedBox.includes(box)">
        <h2 class="box" (click)="apriBox(box)">{{box.name}} <h1 *ngIf="compresso.includes(box)"><i class="bi bi-caret-right-fill"></i> </h1><h1 *ngIf="!compresso.includes(box)"> <i class="bi bi-caret-down-fill"></i> </h1> </h2> 
        <div *ngFor="let switch of switchService.switch">
          <div *ngIf="switch.box.name==box.name&&!compresso.includes(box)">
          <h3>{{ switch.name }}</h3>
          <div class="form-group" style="text-align: left !important">
            <div class="col">
              <table>
                <tr>
                  <span *ngFor="let port of switch.ports; index as i">
                    <td *ngIf="i < 12" [ngStyle]="{backgroundColor:port.speed.colore}">
                      {{ port.number }}
                    </td>
                  </span>
                </tr>
                <tr>
                  <span *ngFor="let port of switch.ports; index as i">
                    <td
                      *ngIf="i < 12"
                      [ngStyle]="{ backgroundColor: port.vlan.color }"
                    ></td>
                  </span>
                </tr>
                <tr>
                  <span *ngFor="let port of switch.ports; index as i">
                    <td *ngIf="i >= 12 && i < 24" [ngStyle]="{backgroundColor:port.speed.colore}">
                      {{ port.number }}
                    </td>
                  </span>
                </tr>
                <tr>
                  <span *ngFor="let port of switch.ports; index as i">
                    <td
                      *ngIf="i >= 12 && i < 24"
                      [ngStyle]="{ backgroundColor: port.vlan.color }"
                    ></td>
                  </span>
                </tr>
                <tr *ngIf="switch.ports.length == 48">
                  <span *ngFor="let port of switch.ports; index as i">
                    <td *ngIf="i >= 24 && i < 36" [ngStyle]="{backgroundColor:port.speed.colore}">
                      {{ port.number }}
                    </td>
                  </span>
                </tr>
                <tr *ngIf="switch.ports.length == 48">
                  <span *ngFor="let port of switch.ports; index as i">
                    <td
                      *ngIf="i >= 24 && i < 36"
                      [ngStyle]="{ backgroundColor: port.vlan.color }"
                    ></td>
                  </span>
                </tr>
                <tr *ngIf="switch.ports.length == 48">
                  <span *ngFor="let port of switch.ports; index as i">
                    <td *ngIf="i >= 36 && i < 48" [ngStyle]="{backgroundColor:port.speed.colore}">
                      {{ port.number }}
                    </td>
                  </span>
                </tr>
                <tr *ngIf="switch.ports.length == 48">
                  <span *ngFor="let port of switch.ports; index as i">
                    <td
                      *ngIf="i >= 36 && i < 48"
                      [ngStyle]="{ backgroundColor: port.vlan.color }"
                    ></td>
                  </span>
                </tr>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="separatore "></div>
  <div class="col-lg-2">
    <h4>Legenda vlan:</h4>
    <ul *ngFor="let vlan of switchService.vlan" type="none">
      <li style="
          position: relative;
          left: -25px;"> 
        <div style="
          position: relative;
          top:3px;
          left: -10px;
          border:2px solid #000;
          width: 5vw;
          display: inline-block;
          text-align: center;
          "[ngStyle]="{'backgroundColor':vlan.color}">{{vlan.number}}
        </div> 
        {{vlan.name}}
      </li>
    </ul>
  </div>
</div>
