

<div class="row">
  <div class="col-sm" style="padding-left: 0px !important;">
    <div class="input-group">
      <div class="form-outline" data-mdb-input-init>
        <input type="search" id="form1" class="form-control" placeholder="Cerca" />
      </div>
      <button type="button" class="btn btn-primary" data-mdb-ripple-init>
        <i class="fas fa-search"></i>
      </button>
      <div class="btn-group-vertical" role="group" >
          <input *ngFor="let box of switchService.box" type="checkbox" class="btn-check" id="{{box.name}}"  autocomplete="off" (click)="modificaBox(box)">
          <label *ngFor="let box of switchService.box" [ngClass]="{'checked':selectedBox.includes(box)}" class="btn btn-outline-dark" for="{{box.name}}" style="margin-bottom: 0;">{{box.name}}</label>
      </div>
      <div class="btn-group-vertical" role="group" >
          <input *ngFor="let switch of switchService.switch" type="checkbox" class="btn-check" id="{{switch.name}}"  autocomplete="off" (click)="modificaSwitch(switch)">
          <label *ngFor="let switch of switchService.switch" [ngClass]="{'checked':selectedSwitch.includes(switch)}" class="btn btn-outline-dark" for="{{switch.name}}" style="margin-bottom: 0;">{{switch.name}}</label>
      </div>
    </div>
  </div>
  <div class="separatore "></div>
  <div class="col-lg-8">
    <div class="contenuto">
      <div *ngFor="let box of switchService.box">
        <div  *ngIf="selectedBox.length==0||selectedBox.includes(box)">
        <h1 class="box" (click)="apriBox(box)"><h1>{{box.name}}</h1> <h1 class="freccia" *ngIf="compresso.includes(box)"><i class="bi bi-caret-right-fill"></i> </h1><h1 class="freccia" *ngIf="!compresso.includes(box)"> <i class="bi bi-caret-down-fill"></i> </h1> </h1> 
        <div *ngFor="let switch of switchService.switch">
          <div *ngIf="switch.box.name==box.name&&!compresso.includes(box)&& (selectedSwitch.length==0||selectedSwitch.includes(switch))">
          <h3 class="minibox" (click)="apriSwitch(switch)">{{ switch.name }} </h3>
          <div class="form-group" style="text-align: left !important; margin-bottom: 0;">
            <div class="col" style="margin: 16px;" *ngIf="!compressoSwitch.includes(switch)">
              <table>
                <tr>
                  <span *ngFor="let port of switch.ports; index as i">
                    <td *ngIf="i < 12" [ngStyle]="{backgroundColor:port.speed.colore}">
                      {{ port.number }}
                    </td>
                  </span>
                </tr>
                <tr>
                  <span *ngFor="let port of switch.ports; index as i">
                    <td
                      *ngIf="i < 12"
                      [ngStyle]="{ backgroundColor: port.vlan.color }"
                    ></td>
                  </span>
                </tr>
                <tr>
                  <span *ngFor="let port of switch.ports; index as i">
                    <td *ngIf="i >= 12 && i < 24" [ngStyle]="{backgroundColor:port.speed.colore}">
                      {{ port.number }}
                    </td>
                  </span>
                </tr>
                <tr>
                  <span *ngFor="let port of switch.ports; index as i">
                    <td
                      *ngIf="i >= 12 && i < 24"
                      [ngStyle]="{ backgroundColor: port.vlan.color }"
                    ></td>
                  </span>
                </tr>
                <tr *ngIf="switch.ports.length == 48">
                  <span *ngFor="let port of switch.ports; index as i">
                    <td *ngIf="i >= 24 && i < 36" [ngStyle]="{backgroundColor:port.speed.colore}">
                      {{ port.number }}
                    </td>
                  </span>
                </tr>
                <tr *ngIf="switch.ports.length == 48">
                  <span *ngFor="let port of switch.ports; index as i">
                    <td
                      *ngIf="i >= 24 && i < 36"
                      [ngStyle]="{ backgroundColor: port.vlan.color }"
                    ></td>
                  </span>
                </tr>
                <tr *ngIf="switch.ports.length == 48">
                  <span *ngFor="let port of switch.ports; index as i">
                    <td *ngIf="i >= 36 && i < 48" [ngStyle]="{backgroundColor:port.speed.colore}">
                      {{ port.number }}
                    </td>
                  </span>
                </tr>
                <tr *ngIf="switch.ports.length == 48">
                  <span *ngFor="let port of switch.ports; index as i">
                    <td
                      *ngIf="i >= 36 && i < 48"
                      [ngStyle]="{ backgroundColor: port.vlan.color }"
                    ></td>
                  </span>
                </tr>
              </table>
            </div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="separatore "></div>
  <div class="col-lg-2">
    <h4>Legenda vlan:</h4>
    <ul *ngFor="let vlan of switchService.vlan" type="none">
      <li style="
          position: relative;
          left: -25px;"> 
        <div style="
          position: relative;
          top:3px;
          left: -10px;
          border:2px solid #000;
          width: 5vw;
          display: inline-block;
          text-align: center;
          "[ngStyle]="{'backgroundColor':vlan.color}">{{vlan.number}}
        </div> 
        {{vlan.name}}
      </li>
    </ul>
  </div>
</div>
