.large {
  width: 100%;
  padding: auto;
}

.ciccio {
  width: 34%;
  /*height: 12vh;*/
  border-radius: 0%;
  font-size: 36pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border: black solid 1px;
  letter-spacing: 3px;
  padding-top:8px ;
  padding-bottom: 8px;
}

.btn-outline-info{
  background-color: #17a2b8;
  color: white;
}

@media (width<740px) {
  .ciccio {
    width: 34%;
    /*height: 12vh;*/
    border-radius: 0%;
    font-size: 24pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: black solid 1px;
    letter-spacing: 3px;
  }
}

@media (width<560px) {
    .ciccio {
      
      width: 34%;
      /*height: 12vh;*/
      border-radius: 0%;
      font-size: 12pt;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      border: black solid 1px;
      letter-spacing: 3px;
    }
  }
  


