.large{
    width: 100%;
    padding: auto;
    
}

.ciccio{
    width: 34%;
    height: 12vh;
    border-radius: 0%;
    font-size: 36pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: black solid 1px;
    letter-spacing: 3px;
}

