<div class="row">
    <div class="col-md-2 pad">
      <button type="button" class="btn ciccio btn-primary btn-lg">
        Pulsante
      </button>
      <br />
      <button type="button" class="btn ciccio btn-primary btn-lg">
        Pulsante
      </button>
      <br />
      <button type="button" class="btn ciccio btn-primary btn-lg">
        Pulsante
      </button>
      <br />
      <button type="button" class="btn ciccio btn-primary btn-lg">
        Pulsante
      </button>
    </div>
    <div class="separatore "></div>
    <div class="col-md pad"> <div class="contenuto">

    </div></div>
  </div>
  