<div class="row">
  <div class="col-md-2 pad">
    <button type="button" class="btn ciccio btn-primary btn-lg" [routerLink]="['box']">
      Box
    </button>
    <br />
    <button type="button" class="btn ciccio btn-primary btn-lg" [routerLink]="['vlan']">
      Vlan
    </button>
    <br />
    <button type="button" class="btn ciccio btn-primary btn-lg" [routerLink]="['porte']">
      Porte
    </button>
    <br />
    <button type="button" class="btn ciccio btn-primary btn-lg" [routerLink]="['swicth']">
      Switch
    </button>
  </div>
  <div class="separatore "></div>
  <div class="col-md pad">
    <div class="contenuto">
      
    <router-outlet></router-outlet>


    </div>
  </div>
</div>
