<div class="row">
  <div class="col-md-2 pad">
    <div class="btn-group-vertical">
      <button type="button" class="btn ciccio btn-primary" [routerLink]="['box']">
        Box
      </button>
      <button type="button" class="btn ciccio btn-primary" [routerLink]="['vlan']">
        Vlan
      </button>
      <button type="button" class="btn ciccio btn-primary" [routerLink]="['porte']">
        Porte
      </button>
      <button type="button" class="btn ciccio btn-primary" [routerLink]="['switch']">
        Switch
      </button>
    </div>
    
  </div>
  <div class="separatore "></div>
  <div class="col-md pad">
    <div class="contenuto">
      
    <router-outlet></router-outlet>


    </div>
  </div>
</div>
