.separatore{
    background-color: black;
    height: auto;
    width: 3px !important;
    margin: 10px 0;
}
.row{
    height:  auto;
    margin-left: 0;
    background-color: rgb(222, 239, 255);
}
.btn-group-vertical{
    height: 73vh;
    width:100%;
    border-collapse:collapse;
    border-radius: 0;
    margin-bottom: 12px;
}
.ciccio{
    background-color: #60cfeb;
    width: 100%;
    margin:0 !important;
    font-size: 20pt;
    overflow:hidden;
    text-align: left;
    color: rgb(24, 24, 24);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*border: black solid 1px;*/
    border:1px black solid;
    border-bottom:0px ;
    letter-spacing: 2px;
}
.ciccio:nth-child(4){
    border-bottom: 1px solid black;
}
.ciccio:hover{
    background-color:  rgb(222, 239, 255);
}
.ciccio::selection{
    border:2px solid rgb(222, 239, 255)
}
.pad{
    padding-top: 10px;
}
.contenuto{
    height: fit-content;
    width: 75%;
    margin:auto;
    border: black 3px solid;
    border-radius: 15px;
    background-color: white;
    padding: 30px;
    text-align: center;
}

@media (width<790px) {
    .btn-group-vertical{
        height: 25vh;
        width:100%;
        border-collapse:collapse;
    }
    .ciccio {
      border-radius: 0%;
      font-size: 24pt;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      letter-spacing: 3px;
    }
  }
  
@media (width<560px) {
    .btn-group-vertical{
        height: 25vh;
        width:100%;
        border-collapse:collapse;
    }
    .ciccio {
    border-radius: 0%;
    font-size: 12pt;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 3px;
    }
}
    
  
  
  